<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  </br><font size="6">Software:</font>
  </br><font size="4">==>This app is designed to help you store websites’URLs you collect. 
  With it, you can synchronize bookmarks through different browsers or different machines. 
  And it will be convenient for you to use bookmarks you’ve saved and to work more efficiently. </font>
  
  </br><font size="6">Project:</font>
  </br><font size="4">==>This project comes from the practice of the advanced software engineering course 
  in the fall semester of 2017 in UCAS. In the daily experience of surfing the Internet, 
  we found that it’s not an easy job to use bookmarks through different browser or machine. 
  Because you cannot synchronize them under different terminals. 
  After discussion, we decide to do a project as "cloud Bookmark". 
  Since we are all first-grade graduate students, we have only done some simple functions. 
  You can use our website to store your bookmarks free of charge to provide synchronization 
  of different terminals. 
  </br>==>Welcome to provide technical or financial support for our website.</font>

  </br><font size="6">Work</font>
  </br><font size="4">==>Our team spent almost half a semester's spare time to finish the project. 
  Everyone is in its own position and is flexible and orderly. Practice in learning and learn in practice.
  Of course, there's still a lot of work to go on.</font>
  
  </br><font size="6">Thanks</font>
  </br><font size="4">==>Thanks to the theoretical knowledge provided by teacher Wei Jun, 
  teacher Gao Chushu and assistant Tan Huazhe.
  </br>==>Thank the members of the group for their hard work.</font>
  
  </br>
</p>
