<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  </br>1.Software：
  </br> This app is designed to help you store websites’URLs you collect. With it, you can synchronize bookmarks through different browsers or different machines. And it will be convenient for you to use bookmarks you’ve saved and to work more efficiently. 
  </br>2.Project:
  </br> This project comes from the practice of the advanced software engineering course in the fall semester of 2017 in UCAS.
  </br> In the daily experience of surfing the Internet, we found that it’s not an easy job to use bookmarks through different browser or machine. Because you cannot synchronize them under different terminals. After discussion, we decide to do a project as "cloud Bookmark".
  </br> Since we are all first-grade graduate students, we have only done some simple functions. You can use our website to store your bookmarks free of charge to provide synchronization of different terminals. 

  </br> Welcome to provide technical or financial support for our website.

  </br> 3.Work
  </br> Our team spent almost half a semester's spare time to finish the project. Everyone is in its own position and is flexible and orderly. Practice in learning and learn in practice.
  </br> Of course, there's still a lot of work to go on.
  </br>4.Thanks
  </br> Thanks to the theoretical knowledge provided by teacher Wei Jun, teacher Gao Chushu and assistant Tan Huazhe.
  </br>  Thank the members of the group for their hard work.
  </br>
</p>
