<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  </br>1、Software：
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp This app is designed to help you store websites’URLs you collect. With it, you can synchronize bookmarks through different browsers or different machines. And it will be convenient for you to use bookmarks you’ve saved and to work more efficiently.
  </br>2、Project:
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (1）Project source：
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp We found that in daily use, saving the user bookmarks in different browsers can not achieve synchronization between different computers, after discussion, our project topics as "cloud Bookmark".
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (2)Problem solved：
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp User's bookmarks can be used in different browsers, different computers, greatly improve the user's efficiency
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (3)Problems that need to be solved：
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp The interface needs further beautification
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3、Work
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Huangfu Youfeng(V0.1-version):User model(User's registration, login and exit).
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Li Xuanshan(V0.2-version):User Management(Cookie and user's management).
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Zhu Jiayou(V0.3-version and V0.8-version)：Account password advanced features and User's bookmark.
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Han Jinpeng(V0.99-version):Interface's beautification and improvement.
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 4、Thanks
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Thank you for your support, and hoping our products can bring you convenience。
  </br>
</p>
