<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  </br>If you encounter any problems in the use of the process, you can contact us, the following is our contact information:
  </br>  
  </br>Zhu Jiayou -- lxfdbzjy@163.com 
  </br>Huangfu Youfeng -- huangfujihuang@gmail.com
  </br>Han Jinpeng -- hjp3701@163.com
  </br>Li Xuanshan -- xuanshanli@gmail.com
  </br>
  </br>Address:  the campus of Yanqi，University of Chinese Academy of Sciences
  </br>Postcode： 101408
  </br><img src="https://i.loli.net/2018/01/09/5a546708b2b48.png" alt="2.png" title="2.png" />
</p>
