<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  </br>If you encounter any problem when you use our app that you cannot solve, or wanna provide advice to us, you can send us an email, here is our contact information: 
  </br>  
  </br>Zhu Jiayou -- lxfdbzjy@163.com 
  </br>Huangfu Youfeng -- huangfujihuang@gmail.com
  </br>Li Xuanshan -- xuanshanli@gmail.com 
  </br>Han Jinpeng -- hjp3701@163.com 
  </br>Address: Huairou, Beijing, University of Chinese Academy of Sciences (UCAS) Yanqi Lake Campus West 
  </br>Postcode： 101408
  </br><img src="https://i.loli.net/2018/01/09/5a546708b2b48.png" alt="2.png" title="2.png" />
</p>
