<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  </br><strong><i><font size="5">Registration</font></i></strong>
  </br><font size="4">==>You have to provide real and valid personal E-mail to register, 
  then to complete the user authentication through the mail. 
  Only authenticated users can complete the registration.
  </br>==>Registered mail won’t be able to register again. 
  </br>==>Username limits within 50 characters.
  </br>==>Password setting cannot be too simple.</font>
   
  </br><strong><i><font size="5">Usage</font></i></strong>
  </br><font size="4">==>You can modify your settings in "Setting" page. 
  </br>==>You can add bookmark in "Home" page and manage your bookmarks through user's "Profile" page. 
  </br>==>You can get help in "Help" page.
  </br>==>Our contact information is in "Contact" page, hoping this could help you.</font>
  
  </br><strong><i><font size="5">Add a bookmark</font></i></strong>
  </br><font size="4">==>In view of beauty and simplicity, the name of a site is limited to 25 characters.
  </br>==>The URL of a web site must begin with http:// or https:// to show that it's a URL.</font>
  
  </br><strong><i><font size="5">Pics</font></i></strong>
  </br><font size="4">==>Don't upload a too large picture of your bookmark, 
  it'll be automatically resize to 93 * 112 pixels so that the bookmarks are arranged regularly. 
  </br>==>We support the <a href="https://gravatar.com">Gravatar</a> global recognition avatar 
  (This is a free service that allows users to upload images and connect them to their email addresses).</font>
  
  </br><strong><i><font size="5">Network speed in the mainland of China</font></i></strong>
  </br><font size="4">==>If the speed of the site opens, 
  or the receive of the verification mail slowly, because our server is in the United States, 
  please wait a moment.
  </br>==>If the picture is loaded slowly, maybe your position is far from Singapore, 
  because we use the Amazon S3 cloud storage service in Singapore.</font>
  
  </br><strong><i><font size="5">^-^ Other problems, please contact us.</font></i></strong>
  
</p>
