<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  </br>1、registration：
  </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (1) You have to provide real and valid personal E-mail to register, then to complete the user authentication through the mail. Only authenticated users can complete the registration.
  </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (2) Registered mail won’t be able to register again.
  </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (3) Username limits within 50 characters.
   </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (4) Password setting cannot be too simple.
  </br>2、 usage：
  </br>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (1) You can modify your settings in the Setting.
  </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (2) You can add bookmark in Home and manage their your bookmarks through Profile.
  </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (3) You can get help in Help, hoping this can helps you.
  </br>3、About network problems：
  </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (1) Website open slowly
  </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (2) Did not receive the verification email during registration
  </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (3) Slow loading of pictures
  If you encounter the above problem，please wait patiently because our server is in the United States and there may be delays in this process.
  </br>
  </br>4、If you encounter unsolvable problems when using our production, you can email us，Our email is lxfdbzjy@163.com
  
</p>
