<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  </br><font size="6">Registration:</font>
  </br><font size="4">==>You have to provide real and valid personal E-mail to register, 
  then to complete the user authentication through the mail. 
  Only authenticated users can complete the registration.
  </br>==>Registered mail won’t be able to register again. 
  </br>==>Username limits within 50 characters.
  </br>==>Password setting cannot be too simple.</font>
   
  </br><font size="6">Usage:</font>
  </br><font size="4">==>You can modify your settings in "Setting" page. 
  </br>==>You can add bookmark in "Home" page and manage your bookmarks through user's "Profile" page. 
  </br>==>You can get help in "Help" page.
  </br>==>Our contact information is in "Contact" page, hoping this could help you.</font>
  
  </br><font size="6">The problem of network speed in the mainland of China:</font>
  </br><font size="4">==>If the speed of the site opens, 
  or the receive of the verification mail slowly, because our server is in the United States, 
  please wait a moment.
  </br>==>If the picture is loaded slowly, maybe your position is far from Tokyo, 
  because we use the Amazon S3 cloud storage service in Tokyo.</font>
  
  </br><font size="6">^-^ Other problems, please contact us.</font>
  
</p>
