<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  </br>1.Registration：
  </br>  (1) You have to provide real and valid personal E-mail to register, then to complete the user authentication through the mail. Only authenticated users can complete the registration.
  </br> (2) Registered mail won’t be able to register again. 
  </br> (3) Username limits within 50 characters.
   </br> (4) Password setting cannot be too simple. 
  </br>2.Usage：
  </br>  (1) You can modify your settings in the Setting. 
  </br> (2) You can add bookmark in Home and manage your bookmarks through Profile. 
  </br> (3) You can get help in Help, hoping this can help you. 
  </br>3. The problem of network speed in the mainland of China:
  </br> (1) If the speed of the site opens, or the receive of the verification mail slowly, because our server is in the United States, please wait a moment.
  </br> (2) If the picture is loaded slowly because we use the Amazon S3 cloud storage service in Tokyo.
  
  </br>4. If you encounter unsolvable problems when using our production, you can send us an email, Our E-mail is lxfdbzjy@163.com.
  
</p>
