<% provide(:title, @user.name) %>
<div class="row">
  
  <div class="col-md-12">
    <% if @user.bookmarks.any? %>
      <h3>Bookmarks (<%= @user.bookmarks.count %>)</h3>
      <ol class="bookmarks">
        <%= render @bookmarks %>
      </ol>
      <%= will_paginate @bookmarks,{:previous_label => " 上一页 ", :next_label => " 下一页 "} %>
    <% end %>
  </div>
</div>
