<% if @feed_items.any? %>
  <% c = @feed_items.count %>
  
  <% i = 0 %>
  <% while i < 16 && i < c %>
    <ol class="bookmarks">
      
      <% if @feed_items[i] != nil %>
        <div class="col-lg-3 col-md-3 col-sm-9 col-xs-9">
          <li><%= render @feed_items[i] %></li>
        </div>
      <% end %>

    </ol>
    
    <% i += 1 %>
  
  <% end %>

  <div class="col-md-12">
    <%= will_paginate @feed_items %>
  </div>
  
<% end %>

